@using Adresar.Properties
@model Adresar.Models.ContactsSearchViewModel
@{
    ViewBag.Title = Resources.Contacts;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page header start -->
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</div>
<!-- Page header end -->
<!-- Filter panel start -->
<div class="row">
    <form id="frmContactSearch" class="form-inline" autocomplete="on">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-12">
            <button type="button" class="btn btn-success" id="btnNew">@Resources.New</button>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-12 text-right">
            <i class="fas fa-search fa-space" aria-hidden="true"></i>
            @Html.EditorFor(m => m.search, new { htmlAttributes = new { @class = "form-control form-control-sm ml-3 w-75", @placeholder = Resources.SearchPlaceholder } })
            <button type="button" class="btn btn-primary" id="btnSearch">@Resources.Search</button>
            <button type="button" class="btn btn-secondary" id="btnReset">@Resources.Reset</button>
        </div>
    </form>
</div>
<!-- Filter panel end -->
<!-- List panel start -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>@Resources.ContactList</h3>
    </div>
</div>
<div class="row" id="divContactList">
    <div class="col-md-12">
        <table id="tblContacts" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>@Resources.FirstName</th>
                    <th>@Resources.LastName</th>
                    <th>@Resources.Phone</th>
                    <th>@Resources.Email</th>
                    <th>@Resources.Created</th>
                    <th>@Resources.Updated</th>
                    <th>@Resources.Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- List panel end -->
<!-- Confirmation modal popup start here-->
<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalTitle">@Resources.DeleteTitle</h4>
            </div>
            <div class="modal-body">
                <span class="kpi-span" id="modalMsg">@Resources.DeleteConfirmation</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnNo" data-dismiss="modal">@Resources.No</button>
                <button type="button" class="btn btn-primary" id="btnYes">@Resources.Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Confirmation modal popup end here-->
@section scripts {
    <script>
        var confirmationMsg = '@Resources.DeleteConfirmation';
        var successMsg = '@Resources.DeleteSuccess';
        var errorMsg = '@Resources.DeleteError';
        var url = '@Url.Action("Index", "Contacts")';
        var editUrl = '@Url.Action("Edit", "Contacts")';
        var createUrl = '@Url.Action("Create", "Contacts")';
        var deleteUrl = '@Url.Action("Delete", "Contacts")';
        var langUrl = '/Scripts/Adresar/Croatian.json';
        var editTooltip = '@Resources.Edit';
        var deleteTooltip = '@Resources.Delete';
    </script>

    @Scripts.Render("~/bundles/ContactListJs")
}
